
<div class="mb-4 trans container border shadow">
<div class="designer">
    <p>
        <h4>Для дизайнеров:</h4> Платфома предоставляет возможность попробовать себя в промышленном дизайне. Люди,
        которым понравятся ваши работы могут воплотить их в жизнь сделав заказ на нашем
        сайте, продукт будет изготовлен на заводе по изготовлению систем оповещения, сотрудничащем с наши
        сайтом-агрегатором.
    </p>
    <ul>
        <li>Зарегистрируйтесь, указав свою роль - дизайнер.</li>
        <li> Добавьте ваш проект.</li>
        <li>Как только проект пройдёт модерацию, он станет доступен для просмотра всем заказчикам.</li>
        <li>Как только кем-то из заказчиков будет выбран ваш проект, вам придёт уведомление о том, что ваши идеи скоро
            будут воплощены, а так же о положенном вам вознаграждении. </li>
    </ul>
</div>

<div class="customer">
    <p>
        <h4>Для заказчиков:</h4> Платфома является агрегатором проектов от дизайнеров. Вы можете посмотреть их проекты и
        выбрать любой понравившийся, он будет произведён на заводе с которым мы сотрудничаем, так что вам не нужно
        беспокоиться о производстве. Просто выберите, то что вам понравилось, и оно будет изготвлено.
    </p>
    <ul>
        <li>Зарегистрируйтесь, указав свою роль - заказчик.</li>
        <li>Просматривайте проекты которые выложили наши дизайнеры.</li>
        <li>Выберите понравившийся и мы свяжемся с вами для уточненя деталей.</li>
    </ul>
</div>
</div>