 <div class="trans shadow pt-4 mt-3 container w-50 border rounded">
     <h6 style="color: red;">{{message}}</h6>
     <h3 class="text-center">Вход</h3>
        <form class="mx col align-self-center" action="/users/login" method="post">
            <div class="form-group row">
                <label for="login">Логин:</label>
                <input id="login" class="form-control" type="text" name="username" required/>
            </div>
            <div class="form-group row">
                <label for="pass">Пароль:</label>
                <input id="pass" class="form-control" type="password" name="password" required/>
            </div>
            <div class="form-group row">
                <input class="btn btn-primary" type="submit" value="Войти" />
            </div>
        </form>
    </div>