<div class="container row">
    <h1>Projects here</h1>
</div>


<div>
     <form action="/projects/add" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
    </form>   
</div>