<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/users/signup" method="post">
            <div>
                <label>Логин:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Email адрес:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>Телефон:</label>
                <input type="text" name="phone" />
            </div>            
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <label>Роль:</label>
                <select name="role" id="role">
                    <option value="customer">Заказчик</option>
                    <option value="designer">Дизайнер</option>
                    <option value="moderator">Модератор</option>
                </select>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
</div>