<div class="container row">
  <h1>Projects here</h1>

{{#each projects}}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="w-25" src='/images/{{this.images}}'>
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p><a href="projects/{{this._id}}" class="btn btn-primary" role="button">Перейти</a></p>
      </div>
    </div>
  </div>
</div>
{{/each}}